/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 0px solid #e5e5e5;
  margin-bottom: 15px!important;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0px;
   display: inline-block;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 968px) {
  .container {
    max-width: 930px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  //border-bottom: 1px solid #e5e5e5;
  padding-top: 15px!important;
  padding-bottom: 15px!important;

}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
.container {
    max-width: none !important;
    width: 970px;
}

#tablesort {
    margin-bottom: 0;

    th {
        cursor: pointer;
    }
}


.panel-title {
    font-size: 14px;
}

.panel-title .label-default {
    background: #e8e8e8!important;

    a {
        color: #777!important;
        text-decoration: none!important;
    }
}

.panel-chart {
    padding: 5px 5px 0 5px;
}

canvas {
    margin: 0 auto;
}

th, td {
    font-size: 13px;
    font-weight: normal;

    &:first-child {
        padding-left: 0!important;
    }

    &:last-child {
        padding-right: 0!important;
    }
}

td {
    border-top: 1px dotted #ddd!important;
}

th {
    border-bottom: 2px solid #555!important;
    padding-bottom: 0!important;
    color: #777;
    cursor: pointer!important;
}

.bs-sidebar .panel-body {
    padding-top: 5px!important;
    padding-bottom: 0!important;
}



.panel-chart canvas {
    width:500px;
    height:77px;
}

.progress {
    margin-bottom: 5px!important;
    height: 3px;
    border-radius: 0!important;

    .progress-bar {
        background: darken(#03dc00, 5);
    }

}

#start {
    margin-top: 25px;
    margin-bottom: 5px;
}