
body {
  padding-top: 0px;
  padding-bottom: 20px;
}

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
    border-bottom: 0px solid #e5e5e5;
    margin-bottom: 8px!important;
    text-align: center;

    h3 {
        display: inline-block;
        padding-left: 0px!important;
    }
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

@media (min-width: 968px) {
  .container {
    max-width: 930px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

.container {
    max-width: none !important;
    width: 970px;
}


table#tablesort {
    th {
        cursor: pointer;
    }
}

table.table {
    margin-top: -1px;
    margin-bottom: 0px!important;

    thead {
        margin-bottom: 15px;
        display: table-row-group;
    }

    th, td {
        font-size: 13px;
        font-weight: normal;
    }

    td {
        border-top: 1px dotted #ddd!important;
        text-align: right;
        padding-right: 5px!important;

        &.name {
            text-align: left;
            padding-left: 5px!important;
        }
    }

    th {
        border-bottom: 1px solid #777!important;
        padding-bottom: 4px!important;
        padding-top: 5px!important;
        color: #555;
        cursor: pointer!important;
        text-align: right;

        &.name {
            text-align: left;
            width: 103px;
        }

        &.time {
            width: 52px;
        }

        &.tablesorter-headerDesc, &.tablesorter-headerAsc {
            background: #e8e8e8;
        }

        span {
            border-bottom: 1px dotted #ddd;
        }

        &:last-child {
            padding-left: 5px!important;
        }
    }
}

.panel-warning table.table th {
    &.tablesorter-headerDesc, &.tablesorter-headerAsc {
        background: #faf2cd;
    }
}

#process .panel-title {
    padding-left: 8px;
}

.panel-title {
    font-size: 14px;
    font-weight: normal!important;

    .label {
        margin-left: 20px;
        background: #ddd;

        a {
            font-weight: normal;
            font-size: 11px;
            margin-right: 15px;

            text-decoration: underline;

            &:last-child {
                margin-right: 0;
            }
        }

    }

    .unit {
        line-height: 18px;
        font-size: 12px;
        font-weight: normal;
        color: #777;
    }

}

.panel-chart {
    padding: 5px 5px 4px 5px;
}

.legend {
    font-size: 11px!important;
    color: #777;
    font-weight: normal;
    line-height: 18px;

    .point {
        display: inline-block;
        width: 6px;
        height: 6px;
        line-height: 12px;
        border-radius: 3px;
        background: #e8e8e8;
        margin-right: 2px;
        margin-left: 20px;
    }

    .point-render {
        background: #00fa03;
    }

    .point-init {
        background: #0074ff;
    }
}

canvas {
    margin: 0 auto;
}

.bs-sidebar .panel-body {
    padding-top: 0px!important;
    padding-bottom: 0!important;
    min-height: 35px;
}

.progress {
    border-radius: 0!important;
}

.panel-chart {
    .progress {
        margin-bottom: 6px!important;
        height: 3px;
        margin-top: -2px;
        margin-left: 18px;
        margin-right: 7px;
    }
}

#progress_bar_wrap {
    background: #eee!important;
    margin-bottom: 10px;
}

#start {
    margin-bottom: 0;
}

#choose {
    width: 500px;
    margin: 0 auto;
    background-image: none;
    margin-bottom: 20px;
}

.checkboxes {
    margin: 10px auto;
    width: 300px;
    text-align: center;
    padding-left: 25px;

    span {
        display: inline-block;
        margin-top: 0px;
        margin-right: 15px;
        min-width: 120px;
        text-align: left;

        &:first-child {
            margin-top: 0px;
        }
    }
}

#slider_wrap {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;

    #slider_value {
        text-align: center;
        display: block;
        font-size: 18px;

        margin-bottom: 5px;
    }
}

.slider-volume {
    width: 300px;

}

.slider-volume > .dragger {
    width: 16px;
    height: 16px;
    margin: 0 auto;
    border: 1px solid rgba(255,255,255,0.6);

    -moz-box-shadow: 0 0px 2px 1px rgba(0,0,0,0.5), 0 2px 5px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0px 2px 1px rgba(0,0,0,0.5), 0 2px 5px 2px rgba(0,0,0,0.2);
    box-shadow: 0 0px 2px 1px rgba(0,0,0,0.5), 0 2px 5px 2px rgba(0,0,0,0.2);

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

    background: #c5c5c5;
    background: -moz-linear-gradient(90deg, rgba(180,180,180,1) 20%, rgba(230,230,230,1) 50%, rgba(180,180,180,1) 80%);
    background:	-webkit-radial-gradient(  50%   0%,  12% 50%, hsla(0,0%,100%,1) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient(  50% 100%, 12% 50%, hsla(0,0%,100%,.6) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient(	50% 50%, 200% 50%, hsla(0,0%,90%,1) 5%, hsla(0,0%,85%,1) 30%, hsla(0,0%,60%,1) 100%);
}

.slider-volume > .track, .slider-volume > .highlight-track {
    height: 11px;

    background: #777;
    background: -moz-linear-gradient(top, #777, #aaa);
    background: -webkit-linear-gradient(top, #777, #aaa);
    background: linear-gradient(top, #777, #aaa);

    -moz-box-shadow: inset 0 2px 5px 1px rgba(0,0,0,0.15), 0 1px 0px 0px rgba(230,230,230,0.9), inset 0 0 1px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 2px 5px 1px rgba(0,0,0,0.15), 0 1px 0px 0px rgba(230,230,230,0.9), inset 0 0 1px 1px rgba(0,0,0,0.2);
    box-shadow: inset 0 2px 5px 1px rgba(0,0,0,0.15), 0 1px 0px 0px rgba(230,230,230,0.9), inset 0 0 1px 1px rgba(0,0,0,0.2);

}

.slider-volume > .highlight-track {
    background-color: #eee;
    background: -moz-linear-gradient(top, #eee, #ccc);
    background: -webkit-linear-gradient(top, #eee, #ccc);
    background: linear-gradient(top, #eee, #ccc);
}

.flot-tick-label {
    font-size: 10px;
    color: #999;
    margin-top: -7px;
    margin-right: 2px;
}


