/* Space out content a bit */
body {
  padding-top: 0px;
  padding-bottom: 20px; }

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px; }

/* Custom page header */
.header {
  border-bottom: 0px solid #e5e5e5;
  margin-bottom: 8px!important;
  text-align: center; }

/* Make the masthead heading the same height as the navigation */
.header h3 {
  display: inline-block;
  padding-left: 0px!important; }

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5; }

/* Customize container */
@media (min-width: 968px) {
  .container {
    max-width: 930px; } }
.container-narrow > hr {
  margin: 30px 0; }

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  padding-top: 15px!important;
  padding-bottom: 15px!important; }

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px; }

/* Supporting marketing content */
.marketing {
  margin: 40px 0; }

.marketing p + h4 {
  margin-top: 28px; }

/* Responsive: Portrait tablets and up */
.container {
  max-width: none !important;
  width: 970px; }

#tablesort th {
  cursor: pointer; }

table.table {
  margin-top: -1px;
  margin-bottom: 0px!important; }
  table.table thead {
    margin-bottom: 15px;
    display: table-row-group; }

.legend {
  font-size: 11px!important;
  color: #777;
  font-weight: normal;
  line-height: 18px; }
  .legend .point {
    display: inline-block;
    width: 6px;
    height: 6px;
    line-height: 12px;
    border-radius: 3px;
    background: #e8e8e8;
    margin-right: 2px;
    margin-left: 20px; }
  .legend .point-render {
    background: #32cc51; }
  .legend .point-init {
    background: #40b1e9; }

.panel-title {
  font-size: 14px;
  font-weight: normal!important; }
  .panel-title .label {
    margin-left: 20px;
    background: #ddd; }
    .panel-title .label a {
      font-weight: normal;
      font-size: 11px;
      margin-right: 15px;
      text-decoration: underline; }
      .panel-title .label a:last-child {
        margin-right: 0; }
  .panel-title .unit {
    line-height: 18px;
    font-size: 12px;
    font-weight: normal;
    color: #777; }

.panel-chart {
  padding: 5px 5px 0 5px; }

canvas {
  margin: 0 auto; }

th, td {
  font-size: 13px;
  font-weight: normal; }

td {
  border-top: 1px dotted #ddd!important;
  text-align: right;
  padding-right: 5px!important; }
  td.name {
    text-align: left;
    padding-left: 5px!important; }

th {
  border-bottom: 1px solid #777!important;
  padding-bottom: 4px!important;
  padding-top: 5px!important;
  color: #555;
  cursor: pointer!important;
  text-align: right; }
  th.name {
    text-align: left;
    width: 103px; }
  th.tablesorter-headerDesc, th.tablesorter-headerAsc {
    background: #e8e8e8; }
  th span {
    border-bottom: 1px dotted #ddd; }
  th:last-child {
    padding-left: 5px!important; }

.panel-warning th.tablesorter-headerDesc, .panel-warning th.tablesorter-headerAsc {
  background: #faf2cd; }

.bs-sidebar .panel-body {
  padding-top: 0px!important;
  padding-bottom: 0!important;
  min-height: 35px; }

.progress {
  border-radius: 0!important; }

.panel-chart .progress {
  margin-bottom: 5px!important;
  height: 3px;
  margin-top: -4px; }

.progress-bar {
  -webkit-transition: width 0.2s ease!important;
  transition: width 0.2s ease!important; }

#progress_bar_wrap {
  background: #eee!important;
  margin-bottom: 10px; }

hr {
  margin-top: 0!important; }

#start {
  margin-bottom: 0; }

#choose {
  width: 500px;
  margin: 0 auto;
  background-image: none;
  margin-bottom: 20px; }

.checkboxes {
  margin: 10px auto;
  width: 300px;
  text-align: center;
  padding-left: 25px; }
  .checkboxes span {
    display: inline-block;
    margin-top: 0px;
    margin-right: 15px;
    min-width: 120px;
    text-align: left; }
    .checkboxes span:first-child {
      margin-top: 0px; }

#slider_wrap {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 20px; }
  #slider_wrap #slider_value {
    text-align: center;
    display: block;
    font-size: 18px;
    margin-bottom: 5px; }

.slider-volume {
  width: 300px; }

.slider-volume > .dragger {
  width: 16px;
  height: 16px;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.6);
  -moz-box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.5), 0 2px 5px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.5), 0 2px 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.5), 0 2px 5px 2px rgba(0, 0, 0, 0.2);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #c5c5c5;
  background: -moz-linear-gradient(90deg, #b4b4b4 20%, #e6e6e6 50%, #b4b4b4 80%);
  background: -webkit-radial-gradient(50% 0%, 12% 50%, white 0%, rgba(255, 255, 255, 0) 100%), -webkit-radial-gradient(50% 100%, 12% 50%, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%), -webkit-radial-gradient(50% 50%, 200% 50%, #e6e6e6 5%, #d9d9d9 30%, #999999 100%); }

.slider-volume > .track, .slider-volume > .highlight-track {
  height: 11px;
  background: #777;
  background: -moz-linear-gradient(top, #777777, #aaaaaa);
  background: -webkit-linear-gradient(top, #777777, #aaaaaa);
  background: linear-gradient(top, #777777, #aaaaaa);
  -moz-box-shadow: inset 0 2px 5px 1px rgba(0, 0, 0, 0.15), 0 1px 0px 0px rgba(230, 230, 230, 0.9), inset 0 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 2px 5px 1px rgba(0, 0, 0, 0.15), 0 1px 0px 0px rgba(230, 230, 230, 0.9), inset 0 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 2px 5px 1px rgba(0, 0, 0, 0.15), 0 1px 0px 0px rgba(230, 230, 230, 0.9), inset 0 0 1px 1px rgba(0, 0, 0, 0.2); }

.slider-volume > .highlight-track {
  background-color: #eee;
  background: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background: linear-gradient(top, #eeeeee, #cccccc); }
