<section id="comments">
    <h2>Comments ({{ comments.count }})</h2>
    <br/>
    <ul>
        {% for comment in comments.list %}
            <li>
                <b>{{ comment.user }}</b>, <span class="date">{{ comment.date|date('m/d/Y') }}</span>
                <p>
                    {{ comment.text }}
                </p>
            </li>
        {% endfor %}
    </ul>
</section>