<section id="tech_spec">
    <h3>Tech spec:</h3>
    <table>
        {% for property in good.props %}
            {% include "parts/good_tech_spec_prop.tpl.twig" %}
        {% endfor %}
    </table>
</section>