<section id="tizers">
    <table>
        <tr>
            {% for tizer in tizer_list %}
                <td>
                    <a href="{{ tizer.url }}">{{ tizer.text }}</a>
                </td>
            {% endfor %}
        </tr>
    </table>
</section>
