<!doctype html>
{% spaceless %}
<html>
<head>
    <meta charset="utf-8">
    <title>{{ shop_name|title }}</title>
    <link rel="stylesheet" href="/static/css/page.css">
</head>
<body>
<div id="layout">

{% include "parts/header.tpl.twig" %}
{% include "parts/tizers.tpl.twig" %}

<hr/>

<main>
    <table>
        <tr>
            <td id="left">

                {% include "parts/vendors.tpl.twig" %}
                <br/>
                <br/>
                {% include "parts/online.tpl.twig" %}

            </td>
            <td id="center">

                {% include "parts/good.tpl.twig" %}
                <br/>
                {% include "parts/comments.tpl.twig" %}

            </td>
            <td id="right">

                {% include "parts/blog.tpl.twig" %}
                <br/>
                {% include "parts/news.tpl.twig" %}

            </td>
        </tr>
    </table>
</main>

    {% include "parts/footer.tpl.twig" %}

</div>
</body>
</html>
{% endspaceless %}